Source: tulio-php
Package: tulio-php
Priority: optional
Version: 8.3.17
Section: admin
Maintainer: TulioCP <info@tuliocp.com>
Homepage: https://www.tuliocp.com
Architecture: amd64
Depends: hestia, libzip4, unzip, libonig5 | libonig4 | libonig2
Conflct: libzip5
Description: hestia php-fpm
 hestia is an open source hosting control panel.
 hestia has a clean and focused interface without the clutter.
 hestia has the latest of very innovative technologies.
 hestia is an open source hosting control panel with innovative technologies.
